span.highlight{
border-radius:5px;
padding:1%;
background-color: blue;}
p{
	border-radius:5px;
	text-decoration:none;
	padding:1%;
	color:#000000;
	width:97%;
	height:50%;
	background:rgba(218,234,213,0.60);
	text-align:center;
	font-weight:bold;
}
h3{
	display:inline-block;
	verical-align:middle;
	horizontal-align:middle;
	background-position:center;
	margin-top:2%;
	border-radius:5px;
	text-decoration:none;
	padding:1%;
	color:#FFFFFF  ;
	font-size:25px;
	width:97%;
	height:50%;
	text-align:center;
	font-weight:bold;
}
body{
	background: url("images/register.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border: 2px solid black;
}
h1{
	background:rgba(218,234,213,0.60);
	text-align:center;
	color:#000000;
	font-size:30px;
	text-transform:UPPERCASE;
	font-family:Comic Sans MS;
	margin-top:3%;
}
div.transbox {
	font-size:25px;
	margin: 2%;
 	padding:1%;
 	background-color: #FFFFFF;
    	opacity: 0.6;
    	filter: alpha(opacity=100); /* For IE8 and earlier */
}
input[type=submit] {
    width: 15em;  height: 2em;
    text-color:black;
   background: #B9DFFF;
color: #fff;
border: 1px solid #eee;
border-radius: 20px;
box-shadow: 5px 5px 5px #eee;
text-shadow:none;
background: #016ABC;
color: #fff;
border: 1px solid #eee;
border-radius: 20px;
box-shadow: 5px 5px 5px #eee;
text-shadow:none;
}
@media only screen and (min-width : 300px) and (max-width : 820px) {
	body{
		background: url("images/book.jpg") no-repeat center center fixed;
		-webkit-background-size: 100%; 
    		-moz-background-size: 100%; 
    		-o-background-size: 100%; 
    		background-size: 100%; 
    		-webkit-background-size: cover; 
    		-moz-background-size: cover; 
   	 	-o-background-size: cover; 
   	 	background-size: cover
	}
}