body{
	background: url("images/contact.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1{
	background:rgba(218,234,213,0.60);
	text-align:center;
	color:#27AE60  ;
	font-size:40px;
	text-transform:UPPERCASE;
	font-family:Comic Sans MS;
}
p{
	background:rgba(180,140,120,0.80);
	border-radius:5px;
	padding-top:3%;
	margin-left:31%;
	margin-right:31%;
	margin-top:10%;
	padding-bottom:3%;
	width:40%;
	height:15%;
	text-align:center;
	font-size:120%;
}
p:hover{
	background-color: #D0D3D4  ;
}		
h6{
	font-size:115%;
	margin-top:11%;
	border-radius:5px;
	text-decoration:none;
	padding:1%;
	color:#000000;
	width:98%;
	height:50%;
	background:rgba(218,234,213,0.60);
	text-align:center;
	font-weight:bold;
}

@media only screen and (min-width : 300px) and (max-width : 820px) {
	body{
		background: url("images/contact.jpg") no-repeat center center fixed;
		-webkit-background-size: 100%; 
    		-moz-background-size: 100%; 
    		-o-background-size: 100%; 
    		background-size: 100%; 
    		-webkit-background-size: cover; 
    		-moz-background-size: cover; 
   	 	-o-background-size: cover; 
   	 	background-size: cover
	}
}
@media only screen and (min-width : 300px) and (max-width : 820px)  {

	p{
	font-size:115%;
	margin-top:11%;
	border-radius:5px;
	text-decoration:none;
	padding:1%;
	color:#000000;
	margin:0%;
	margin-top:12%;
	width:97%;
	height:50%;
	background:rgba(180,140,120,0.80);
	text-align:center;
	font-weight:bold;
	}
}