body{
	background: url("ui/images/back.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@media only screen and (min-width : 320px) and (max-width : 600px) {
	body{
		background: url("ui/images/back.jpg") no-repeat center center fixed;
		-webkit-background-size: 100%; 
    		-moz-background-size: 100%; 
    		-o-background-size: 100%; 
    		background-size: 100%; 
    		-webkit-background-size: cover; 
    		-moz-background-size: cover; 
   	 	-o-background-size: cover; 
   	 	background-size: cover
	}
}
h1{
	background:rgba(218,234,213,0.60);
	text-align:center;
	color:#000000;
	font-size:x-large;
	text-transform:UPPERCASE;
	font-family:Times New Roman;
}
nav a{
	display:inline-block;
	margin:8%;
	border-radius:5px;
	text-decoration:none;
	padding:2%;
	color:#000000;
	width:11%;
	height:20px;
	background:rgba(218,234,213,0.60);
	text-align:center;
}
@media only screen and (min-width : 320px) and (max-width : 600px) {
	nav a{
		width:90%;
		overflow:hidden;
	}
}
a:hover{
	background-color: #FFFFFF;
}
body{
	padding:10px;
	margin:1%;
}
h2{
	color: #FFFFFF;
	text-align:center;
}
h3{
	color: #000000;
	text-align:center;
	line-height:25px;
}
footer{
	horizontal-align:middle;
	background-position:center;
	margin-left:35%;
	margin-top:5%;
	border-radius:5px;
	text-decoration:none;
	padding:1%;
	color:#000000;
	width:30%;
	height:50%;
	background:rgba(218,234,213,0.60);
	text-align:center;
	font-weight:bold;
}
@media only screen and (min-width : 320px) and (max-width : 600px) {
	footer{
		width:55%;
		margin:18%;
		padding:5%;
		overflow:hidden;
	}
}	
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #FFFFFF;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
